<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.keste.listener.ListenerClass"/> 
<listener class-name="com.keste.listener.MethodInterceptor"/> 
<listener class-name="com.keste.listener.AnnotationTransformer"/> 
</listeners>

  <test thread-count="5" name="Test">
  <classes>
  <!--<class name = "com.keste.testcases.AccountTestCases"/> -->
  <!-- <class name ="com.keste.testcases.AccountToQuote"/>-->
  <class name="com.keste.testcases.Salesforce_Test"></class>
  
  </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
